/Gemfile.lock
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor
/node_modules

# rspec failure tracking
.rspec_status

/tags

*.log
.DS_Store

.ruby-gemset
.direnv
.envrc
